.ingredients__header {
  padding: 0 10px;
  font-size: 22px;
}

.ingredients__category {
  box-sizing: border-box;
  width: 100%;
  margin: 5px;
  border: 1px solid #a9560a;
}

.ingredients__category-title {
  padding: 5px 15px;
  color: #fff;
  background-color: #e0843c;
  font-size: 18px;
}

.ingredients__category-values {
  padding: 5px;
}
