.properties__header {
  display: flex;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 22px;
  align-items: center;
  column-gap: 10px;
}

.properties__prop {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin: 5px;
  padding: 10px;
  border: 1px solid #a9560a;
  justify-content: space-between;
}

.properties__prop-title {
  margin: 0 10px;
}

.properties__prop-value {
  box-sizing: border-box;
  width: 60px;
  margin-left: auto;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: #e0843c;
}

.properties__prop-info-tooltip {
  height: 24px;
}

.properties__prop-info-tooltip p {
  display: none;
  box-sizing: border-box;
  width: 200px;
  padding: 5px 10px;
  color: black;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 8px 12px rgba(94, 154, 252, 0.6);
}

.properties__prop-info-tooltip:hover p {
  position: absolute;
  display: block;
  transform: translateY(-165px);
}

.properties__prop-info-tooltip:hover svg {
  fill: #ffb46a;
}
