input[type=range] {
    width: 100%;

    background: transparent;

    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;

    cursor: pointer;

    color: transparent;
    border-color: transparent;
    background: transparent;
}