.favorite-page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: auto;
  padding: 20px 0;
  align-items: center;
}

.favorite-page__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
