.beer-card__info {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 100%;
    height: 40%;
    padding: 12px;
}

.beer-card__info_buttons {
    flex-direction: row;

    justify-content: space-evenly;
}